<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <div _ngcontent-jfj-c92="" class="card-icon"><i _ngcontent-jfj-c92=""
                                class="material-icons">content_copy</i></div>
                        <h4 class="card-title ">Simple Table</h4>

                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-content table-responsive table-full-width">
                        <app-base-table [tableHeaders]="tableHeaders" [tableData]="tableData"
                            [table_cell_data]="table_cell_data"></app-base-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>